@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  font-family: 'Archivo', sans-serif;
}


.container {
  display: grid;
  grid-template-columns: 1fr 0.33fr;
  grid-template-rows: 1fr 0.15fr 0.15fr 0.6fr;
  grid-template-areas:
    "header header"
    "instructions instructions"
    "input-field search-button"
    "data-container data-container";
  text-align: center;
}


.data-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "radar-chart average-calculation";
  grid-area: data-container;
  gap: 0% 2%;
  /* border: solid tomato; */
  padding: 3px;
  z-index: -1;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 1%;
  margin-top: 2%;
}


